// @import "3rd/Reset.scss";
// @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

$header-color: skyblue;

body {
  background: #222;
  font-family: "Imago", sans-serif;
  color: #adf;

  .App-container {
    padding: 70px;

    h4 {
      color: $header-color;
      width: 1044px;
      padding-bottom: 8px;
      font-weight: bold;
      letter-spacing: 0.1em;
      border-bottom: 1px solid $header-color;
    }

    form {
      display: flex;
      margin-top: 50px;

      .form-group {
        display: flex;
        label,
        input,
        select {
          margin-right: 20px;
        }

        input {
          width: 170px;
        }

        label {
          padding-top: 6px;
        }

        select {
          width: 130px;
          margin-right: 20px;
          height: 40px;
        }

        input,
        select {
          background: lightgray;
          &:focus {
            background: white;
          }
        }
      }
      button {
        height: 40px;
        width: 100px;
        margin-left: 20px;
        line-height: 15px;
      }
    }
    .error-message > p {
      color: crimson;
      font-style: italic;
    }
  }
}

::selection {
  background: #ffb97c; /* WebKit/Blink Browsers */
}
